<div class="row">
    <aside class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-body post_comment">
          <%= image_tag @post.image %>
        </div>
      </div>
    </aside>
      <ul class="col-xs-8 name_favorite">
        <li><%= link_to "@"+@post.user.name, user_path(@post.user) %></li>
        <li class="favorite_com"><%= render 'favorites/favorite_button',user: @user, post: @post %></li>
        <p class="font_20px"><%= @post.content %></p>
      </ul>
      <!--<div>-->
      <!--  <p class="font_20px"><#%= @post.content %></p>-->
      <!--</div>-->
    <div class="col-xs-12">
      <%= render 'comments/form', post: @post %>
      <%= render 'comments/index', post: @post %>
    </div>
</div>

<!--<#%= paginate @post.comments %>-->